.gift-card-stack {
  position: relative;
  height: 0;
}

.gift-card {
  width: 220px;
  position: fixed;
  top: -20px;
  left: 50px;
  margin: 40px;
}

.gift-card img {
  width: 200px;
  height: auto;
}
.gift-card:nth-child(n + 2) {
  top: 20px;
  left: 10px;
}
/* .collection-container {
  margin: 0;
  padding: 0;
}
.collection-container.with-cards {
  margin: 20px;
  padding: 20px;
} */
