.gift-card-container {
  position: fixed;
  top: -20px;
  left: 50px;
}
.gift-card-stack {
  display: flex;
  max-width: 35vw;
  margin-top: 50px;
}

.gift-card {
  width: 220px;
  z-index: 1;
}
.gift-card:not(:first-child) {
  top: 60px;
  margin-left: calc(120px * -1);
}

.gift-card img {
  width: 200px;
  height: auto;
}
