/* TODO Add site wide styles */

html,
body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  height: 100%;
}
main {
  background-image: url(./image/christmas-6817265_1920.jpg);
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.main-xmas-tree {
  position: relative;
  top: 120px;
  width: 600px;
  height: 800px;
}
.main-xmas-tree img {
  width: 100%;
  height: 100%;
}
