/* TODO Add site wide styles */

html,
body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  height: 100%;
}
main {
  background-image: url("./images/background_1920.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  @media screen and (max-width: 640px) {
    background-image: url("./images/background_640.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
}
